{% extends 'base.html.twig' %}

{% block body %}
    
    <div id="wrapper">
        <div id="container">
            <ul>
            {% for lesson in lessons %}
                <li><a class="" href="">{{lesson.name}}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
